# Ignore environment variables
.env

# Ignore SQLite database files
*.db
instance/cybersecurity.db

# Ignore instace folder
instance/
list.py


# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore uploaded files
uploads/

# Ignore IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore local development files
*.log
*.pot
*.pid

# Ignore compiled Python modules
*.so
*.egg
*.egg-info/
dist/
build/