# Ignore the virtual environment directory
env/
venv/
.env

# Ignore Flask cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore IDE specific files
.idea/
.vscode/

# Ignore environment variables file
.env

# Ignore other common files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3